extends partial/layout

block content
  //- 主体内容
  include mixins/post
  +posts()
  script(src=url_for("script/main.js"))

//- block pagination  
//-   //- 分页
//-   include mixins/paginator
//-   +home()
