@charset "utf-8";

@import "./_partial/normalize.scss";
@import "./_partial/common.scss";
@import "./_partial/header.scss";
@import "./_partial/home-post-list.scss";
@import "./_partial/archive-post-list.scss";
@import "./_partial/footer.scss";
@import "./_partial/post.scss";
@import "./_partial/sider.scss";
@import "./_partial/media-query.scss";

@font-face {
    font-family: 'Georgia';
    src: url('../font/Georgia.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
